{{#each msgs_primary}}
	<div class="alert alert-primary alert-dismissable fade show my-2" role="alert">
		{{this}}
		<button class="close" type="button" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/each}}

{{#each msgs_secondary}}
	<div class="alert alert-secondary alert-dismissable fade show my-2" role="alert">
		{{this}}
		<button class="close" type="button" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/each}}

{{#each msgs_success}}
	<div class="alert alert-success alert-dismissable fade show my-2" role="alert">
		{{this}}
		<button class="close" type="button" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/each}}

{{#each msgs_info}}
	<div class="alert alert-info alert-dismissable fade show my-2" role="alert">
		{{this}}
		<button class="close" type="button" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/each}}

{{#each msgs_warning}}
	<div class="alert alert-warning alert-dismissable fade show my-2" role="alert">
		{{this}}
		<button class="close" type="button" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/each}}

{{#each msgs_danger}}
	<div class="alert alert-danger alert-dismissable fade show my-2" role="alert">
		{{this}}
		<button class="close" type="button" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/each}}
